<tr id="<%= dom_id team %>">
      <th scope="row"><%= team.id %></th>
      <td><%= team.name %></td>
      <td><%= team.balance %></td>
      <td><%= link_to 'Edit', edit_team_path(team) %></td>
      <td><%= link_to "Show this team", team %></td>
</tr>
