<p style="color: green"><%= notice %></p>

<h1>Wallets</h1>

<a href="/transfers">Transfer</a>

<div class="row">
  <div class="col"></div>
  <div class="col">
    <h3>Balance : <%=  @wallet.balance %></h3>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Transaksi Type</th>
          <th>Amount</th>
          <th>From</th>
          <th>Last balance</th>
        </tr>
      </thead>
      <tbody>
       <% @transactions.each do |item|%>    
         <tr>
          <th><%= item.id %></th>
          <td><%= item.transaction_type %></td>
          <td><%= item.amount %> </td>
          <td><%= item.from_wallet.owner.name %> </td>
          <td><%= item.last_balance %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>